#headphones {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: -1;
}

.controls {
  position: sticky;
  background-color: #1f1f1f;
  border-bottom: 2px solid #2b2b2b;
  height: 50px;
  display: flex;
  align-items: center;
  color: #bbb;
  gap: 20px;
  justify-content: flex-start;
  padding: 5px;
}

.file-input {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.volume-slider {
}

.volume-overlay {
  background-color: #1f1f1f;
  border: 1px solid #2b2b2b;
  padding: 10px;
  padding-top: 15px;
  position: absolute;
  border-radius: 5px;
}

.controls svg {
  padding: 10px;
}

.controls svg:hover {
  color: #7b7b7b;
  transform: scale(110%);
}

.controls input[type="range"] {
  accent-color: violet;
}

.controls input[type="file"] {
  display: none;
}
